@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  margin: 0;
}

body {
  margin: 0;
  background:  #23252C;
  min-height: 100vh;
  width: 100%;
  padding: 3rem 1rem 1rem;
}


h1,h3 {
  color: #fff;
  margin: 1rem 0 0.5rem;
}

.main-div {
  max-width: 317px;
  height: fit-content;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.profile {
  text-align: center;
}

.profile p {
  color: #F3BF99;

}

main {
  background-color: #1A1B21;
}

.profile-img {
  width: 100%;
  object-fit: cover;
  height: 10rem;
}

.link, .info p{
  color: #D1D5DB;
  font-size: 0.7rem;
  font-weight: 400;
}

.link:hover{
  color: #a6a9ad;
}

.btn-div {
  display: flex;
  place-content: center;
  gap: 1rem;
  
  margin: 1rem 0;
  padding: 1rem 0;
}

/* BUTTON */
.email, .linkedin {
  outline: none;
  padding: 0.5rem;
  width: 7rem;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;


  display: flex;
  place-content: center;
  gap: 4px;
  font-size: 0.8rem;
  font-weight: bold;
}

.email {
  color:#23252C;
  background: #D1D5DB;
}

.email:hover {
  background: #a6a9ad;
}

.linkedin {
  background-color: #5093E2;
  color: #D1D5DB;
}

.linkedin:hover {
  background-color: #3c6ea6;
}

.info-sec {
  padding-bottom: 1.3rem;
  width: 240px;
  margin: auto;
}

footer {
  background: #161619;
  padding: 0.8rem;
  text-align: center;

}

footer .link {
  font-size: 1rem;
}